<br>
<br>

<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
    <div class="container" style="color:cadetblue;text-align: right;">
    <mat-card class="example-card" style="height: 35rem;width: 20rem; background-color:beige; text-align: center;">
        <h1 style="text-align:center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">PAYMENT</h1>
        <p style="color:red ;">{{timeLeft}} Seconds Left....</p> 
<form #loginForm="ngForm" (ngSubmit)="Buy(loginForm)">
    <br>
    <div class="form-group">
        <mat-form-field appearance="fill">
            <input type="text" value={{name}} matInput
            ngModel>
        </mat-form-field><br>
    </div>
    
        <mat-form-field appearance="fill">
        <div class="form-group">
            <input type="text" value= {{price}} matInput
            ngModel>
        </div>
        </mat-form-field><br>
    

        <mat-form-field appearance="fill">
            <mat-label>Card Number</mat-label>
            <input type="text" name="cardNumber" matInput
             maxlength="10" ngModel>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>CVV</mat-label>
            <input type="text" name="cvv" matInput
            ngModel maxlength="3">
        </mat-form-field> <br>
        <mat-form-field appearance="fill">
            <mat-label>Expiry</mat-label>
            <input type="text" name="expiry" matInput
            ngModel maxlength="5">        </mat-form-field>
    <br>
        <mat-card-actions>
            <button mat-button color="primary"  mat-raised-button>PAY</button>
          </mat-card-actions>
      
        </form>
        </mat-card>
        <notifier-container>Success</notifier-container>

    </div>

</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>

